/* styles.css */

body {
    min-height: 100vh;
    display: flex;
}

.calc {
    display: flex;
    background-color: salmon;
    flex-direction: column;
    margin: auto;
    padding: 6px;
    justify-content: center;
    align-items: stretch;
    border-radius: 8px;
    border: black solid 1px;
    box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
}

.display {
    align-self: center;
    text-align: right;
    background-color: lightgray;
    width: 250px;
    height: 70px;
    border: solid black 1px;
    margin: 20px;
    font-size: 60px;
}

.row {
    display: flex;
}

.btn0 {
    width: 148px;
    height: 70px;
}

button {
    width: 70px;
    height: 70px;
    margin: 4px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    font-size: 40px;
}